/* ==========================================================================
Styles for Button component
========================================================================== */

// import mixin and variables
@import "../../../assets/styles/helper/function", "../../../assets/styles/helper/mixin", "../../../assets/styles/project/init/variables";

// Start styles Button component
.a-button {
  display: inline-block;
  outline: 0;
  text-align: center;
  justify-content: center;
  min-width: 157.5px;
  min-height: 40px;
  padding: 10px 20px;
  font-size: fz(button-default);
  font-weight: fw(bold) !important;
  // font-family: $ff-main !important;
  line-height: lh(button-default);
  letter-spacing: 0.12px;
  border: solid 1px color(primary, hard);
  background-color: color(primary, hard);
  color: color(white);
  border-radius: 0.625rem !important;
  transition: all 0.25s ease;
  text-decoration: none !important;
  text-transform: unset !important;
  cursor: pointer;
  &.sm {
    min-width: unset;
    min-height: 24px;
    padding: 6px 8px 6px 10px;
    font-size: fz(button-sm);
    line-height: lh(button-sm);
  }
  &.md {
    min-width: unset;
    min-height: 43px;
    padding: 10px 14px 10px 14px;
  }
  &.lg {
    min-width: 157.5px;
    min-height: 40px;
    padding: 10px 20px;
  }
  &.contained {
    &:disabled {
      cursor: default;
      pointer-events: none;
      color: color(white);
      background-color: color(gray, medium);
      border-color: color(gray, medium);
      &:hover,
      &:active {
        background-color: color(gray, medium);
        border: solid 1px color(gray, medium);
      }
    }
  }
  &.outlined {
    color: color(primary, hard);
    background-color: color(white);
    border-color: color(primary, hard);
    &:disabled {
      cursor: default;
      pointer-events: none;
      color: color(gray, medium);
      background-color: color(white);
      border-color: color(gray, medium);
      &:hover,
      &:active {
        background-color: color(white);
        border: solid 1px color(gray, medium);
      }
    }
  }

  &.text {
    color: color(primary, hard);
    background-color: transparent;
    border-color: transparent;
    &:disabled {
      cursor: default;
      pointer-events: none;
      color: color(gray, medium);
      background-color: transparent;
      border-color: transparent;
      &:hover,
      &:active {
        background-color: transparent;
        border: solid 1px transparent;
      }
    }
  }

  &:disabled {
    cursor: default;
    pointer-events: none;
    color: color(white);
    background-color: color(gray, medium);
    border-color: color(gray, medium);
    &:hover,
    &:active {
      background-color: color(gray, medium);
      border: solid 1px color(gray, medium);
    }
    // &.text {
    //   border: 0;
    //   background-color: transparent;
    //   color: color(gray, medium);
    //   &:hover,
    //   &:active {
    //     color: color(gray, medium);
    //   }
    // }
  }

  &.full-content {
    max-width: 380px;
    width: 100%;
    min-height: 40px;
    padding: 4px 32px;
    @include small {
      max-width: unset;
      min-height: 40px;
      padding: 7px 32px;
    }
  }
}
